@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 10px 40px;
}

h4 {
  font-size: 1rem;
  color: rgb(67, 67, 67);
}

h3 {
  font-size: 1.5rem;
  color: rgb(47, 47, 47);
  line-height: 2.5rem;
}

a {
  color: rgb(47, 47, 47);
}